*{
    margin: 0;
    padding: 0;
}
.container{
    border: 2px solid;
    align-items: center;
    height: 160px;
    width: 160px;
    margin: 20px;
    padding: 20px;
    max-height: fit-content;


}
 #container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vh;
    margin: 20px;
    padding: 20px;
    height: 100vh;
    

}
/*span{
    justify-content: space-between;
    gap: 34px;
}
.password{
   border: 1px solid;
   margin: 20px;
 
}
.generate{
    border: 1px solid;
   margin: 20px;

}
.change{
    padding-left: 34px;
} */
.password{
    border: 1px solid;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 9px;
    margin: 35px;
}
.generate{
    border: 1px solid;
    align-items: center;
    padding: 9px;
    margin: 35px; 

}
.change{
    padding: 4px;
  
}
.dark {
    background-color: black;
    color: white;
}